$hue: 200;
$saturation: 50%;
$position: 50;
$x: 50;
$y: 50;

:root {
	--hue: #{$hue};
	--saturation: #{$saturation};
	--foreground-color: hsl(var(--hue), var(--saturation), 75%);
	--background-color: hsl(var(--hue), var(--saturation), 20%);
	--position: #{$position};
	--x: #{$x};
	--y: #{$y};
}
